*{
    margin: 0;
    padding: 0;
    width: auto;
}

@media screen and (max-width:600px)
{

    .navbar{
        height: 25px;
        width: auto;
        background-color:rgba(0, 0, 0, 0.506);
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        
        justify-content: space-evenly;
        
        }

        
.aa{height: 40px;
    width: autopx;
    color: cyan;
    font-size: 20px;
    text-decoration: none;
    transition: 1s;

}
.aa:hover{
    background-color:cyan;
    box-shadow: 0px 0px 5px cyan, 5px 5px 25px cyan, 10px 10px 100px cyan , 100px 100px 1000px cyan ;
    color: black;
    
    
    
}



.bb{height: 40px;
    color: cyan;
    width: autopx; 
    font-size: 20px;
    text-decoration: none;



}
.cc{height: 40px;
    color: cyan;
    width: auto;
    font-size: 20px;
    text-decoration: none;



}
.dd{height: 40px;
    color: cyan;
    width: auto;
    font-size: 20px;
    text-decoration: none;



}

.pro1{
    height: 600px;
    width: auto;
background-image: url(desk.jpg);
background-color:black;


}

.pro2{

    height: 200px;
    width: autopx;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    
    


}

.text{
    
    height: 100px;
    width: auto;
    background-color: black;
    color: whitesmoke;
    text-align: center;

    
}


.dwd{
    
    height: 150px;
    width: auto;
    background-color: black;
    padding-left: 20px;

    
}

button{
    
    height: 150px;
    width: auto;
    border: 2px solid rgba(0, 153, 255, 0.399);
    border-radius: 50px;
    box-shadow: 0px 0px 5px cyan, 0 0 25px cyan;
    
    
}

button:hover{

    background-color: cyan;
    box-shadow:0px 0px 5px cyan, 0 0 25px cyan,
    0px 0px 25px cyan, 0 0 50px cyan,
    0px 0px 100px cyan, 0 0 200px cyan;
     




}

b{
    font-size: 10px;

}

 
.p1{
    font-size:10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 


.p2{
    font-size: 10px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} 

.sv1{

    height:20px;
    width:auto;
    background-color: cyan;
    color: aqua;
    transition: .5s;
    
}

.sv1:hover{
  
    background-color: red;
    box-shadow: 0px 0px 5px red, 5px 5px 25px red, 10px 10px 100px red , 100px 100px 1000px red ;
}








}


.navbar{
    height: 100px;
    width: 1366px;
    background-color:rgba(0, 0, 0, 0.506);
    position: fixed;
    z-index: 99;
    padding: 15px;
    display: flex;
    
    justify-content: space-evenly;
    
    }



.aa{height: 80px;
    width: 120px;
    color: cyan;
    font-size: 40px;
    text-decoration: none;
    transition: 1s;

}
.aa:hover{
    background-color:cyan;
    box-shadow: 0px 0px 5px cyan, 5px 5px 25px cyan, 10px 10px 100px cyan , 100px 100px 1000px cyan ;
    color: black;
    
    
    
}



.bb{height: 80px;
    color: cyan;
    width: 120px; 
    font-size: 40px;
    text-decoration: none;



}
.cc{height: 80px;
    color: cyan;
    width: 120px;
    font-size: 40px;
    text-decoration: none;



}
.dd{height: 80px;
    color: cyan;
    width: 120px;
    font-size: 40px;
    text-decoration: none;



}

.pro1{
    height: 1200px;
    width: 1366px;
background-image: url(desk.jpg);
background-color:black;


}

.pro2{

    height: 800px;
    width: 1366px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    
    


}

.text{
    
    height: 600px;
    width: 683px;
    background-color: black;
    color: whitesmoke;
    text-align: center;

    
}


.dwd{
    
    height: 650px;
    width: 683px;
    background-color: black;
    padding-left: 100px;

    
}

button{
    
    height: 600px;
    width: 550px;
    border: 2px solid rgba(0, 153, 255, 0.399);
    border-radius: 50px;
    box-shadow: 0px 0px 5px cyan, 0 0 25px cyan;
    
    
}

button:hover{

    background-color: cyan;
    box-shadow:0px 0px 5px cyan, 0 0 25px cyan,
    0px 0px 25px cyan, 0 0 50px cyan,
    0px 0px 100px cyan, 0 0 200px cyan;
     




}

b{
    font-size: 40px;

}

 
.p1{
    font-size:45px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 


.p2{
    font-size: 20px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} 

.sv1{

    height:60px;
    width:auto;
    background-color: cyan;
    color: aqua;
    transition: .5s;
    
}

.sv1:hover{
  
    background-color: red;
    box-shadow: 0px 0px 5px red, 5px 5px 25px red, 10px 10px 100px red , 100px 100px 1000px red ;
}







    
